/* Grid used to place items in the correct places */
body {
    display: grid;
}
/* Index page nested grid for specific placement within a full width section */
.spread {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
.round {
    grid-column: 1;
}
.rating {
    grid-column: 2;
}
.badgecontainer {
    grid-column: 3/5;
}
.gas {
    grid-column: 7/12;
    grid-row: 1;
}
.limited {
    width: 200%;
    grid-column: 11/12;
    grid-row: 1;
}

/* Coverage and contact pages full page grid to dictate the 60/40 ratio split */
article {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}
/* Placement of elements on coverage page */
.coverage {
    grid-column: 1/ span 4;
    grid-row: 1;
}
.emph {
    grid-row: 3;
}
.wider {
    grid-column: 1/ span 6;
    grid-row: 5;
}
.wider img {
    width: 30%;
    margin: 0px 20px;
}
.map {
    grid-column: 7/ span 10;
    grid-row: 1/ 8;
    width: 100%;
}
/* Placement of elements on contact page */
aside {
    grid-row: 1;
    grid-column: 1/ span 3;
}
form {
    grid-column: 5/ span 10;
    grid-row: 1;
}
/* Grid row only set to unrealistic amount to "stick" the footer to the bottom without using negative margins */
footer {
    grid-row: 200;
}