/* General settings for the page */
* {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 1.7;
}
body {
    max-width: 1440px;
    box-sizing: border-box;
    margin: auto;
    height: 100vh;
}

/* Header styling */
h1 a {
    font-size: 28px;
    text-decoration: none;
}
header li, footer li {
    list-style-type: none;
}
a {
    color: #000000;
}
h2 {
    font-size: 28px;
    color: #E09500;
    margin: 0px 30px;
}
h3, h3 a, .rating a {
    font-size: 24px;
    color: #0767f7;
}
.details a {
    font-size: 14px;
    text-decoration: none;
}
header {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    padding: 0px 20px;
    align-items: center;
    border-top: 5px solid rgba(0,0,0, .075);
}
nav ul {
    display: flex;
}
nav ul li {
    padding: 16px 30px;
    margin: 0px 20px;
}
nav a, .buybtn {
    font-size: 18px;
}
header div {
    display: flex;
    flex-direction: column;
}
.buybtn {
    background: #F7A502;
    padding: 16px 40px;
    box-shadow: 4px 4px 4px 0px rgba(0,0,0, .25);
}
.details img {
    padding: 10px 10px 0px 0px;
}
.details span {
    position: relative;
    bottom: 15px;
}


/* Content styling */
section {
    margin: 20px 30px;
    display: flex;
    justify-content: space-between;
}
.photo {
    box-shadow: 4px 4px 4px 0px rgba(0,0,0, .25);
}
.inverse {
    flex-direction: row-reverse;
}
.thumbContainer img {
    width: 137px;
    margin: 5px 15px;
}
.imageContainer {
    margin: 0px 120px;
}
.textbox p {
    margin: 20px 30px;
}
.textbox h3 {
    margin: 50px 30px;
}
.round {
    height: 155px;
    width: 155px;
    border-radius: 50%;
}
.rating {
    display: flex;
    flex-direction: column;
    margin: 0px 30px;
    padding: 10px 30px;
    width: 300px;
}
.rating img {
    width: 80%;
    margin: 20px 0;
}
.badgecontainer {
    display: flex;
    margin: auto;
}
.badgecontainer img {
    width: 80%;
    height: 90%;
}
.service {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 610px;
    margin: 20px;
}
section ul {
    margin: 10px 25px;
}
.regular .buybtn {
    align-self: center;
    position: absolute;
    bottom: 20px;
    left: 0px;
}
.inverse .buybtn {
    align-self: center;
    position: absolute;
    bottom: 20px;
    right: 0px;
}
.servicepic {
    margin: 20px;
}
.coverage {
    margin: 50px 50px;
}
.emph {
    padding: 80px 0px;
    border-top: 5px solid rgba(0,0,0, .075);
    border-bottom: 5px solid rgba(0,0,0, .075);
}



/* Footer styling (grid row only set to unrealistic amount to stick it to the bottom without using negative margins*/
footer {
    grid-row: 200;
    display: flex;
    justify-content: space-between;
    border-top: 5px solid rgba(0,0,0, .075);
    width: 100%;
    margin: 20px 0px;
}
footer ul {
    display: flex;
    margin: 10px 30px;
}
footer ul li {
    margin: 5px 30px;
}
footer ul li a {
    padding: 10px;
}
.fa-facebook-square {
    color: #4267B2;
}
.fa-twitter-square {
    color: #00ACEE;
}

